.signin-container, .signin-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #0f0101;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.signin-button {
  width: 100%;
  padding: 12px;
  background-color: #a02727;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #fc5e5e;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}